
{% extends "home.html" %}
{% block content %}
<section class="text-center login-page">
<div class=" container vision">
                    <h1> THE FUNNEL TO PURGING </h1>
                    <div class="row">
                          
                          <div class="col">
                            <img  class="funnel-img" src="/static/img/funel.jpg" alt="Girl in a jacket">

                          
                        </div>
                    </div>

                </div>

</section>
{% endblock %}